<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>企业在线学习平台-登录页面</title>
		<!-- Bootstrap core CSS -->
		<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.css}" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
	</head>

	<body class="text-center">
		<form class="form-signin" action="dashboard.html" th:action="@{/manager/login}" method="post">
			<img class="mb-4" src="asserts/img/bootstrap-solid.svg" th:src="@{/asserts/img/bootstrap-solid.svg}" alt="" width="72" height="72">
			<h1 class="h3 mb-3 font-weight-normal" th:text="#{login.tip}">Please sign in</h1>

			<p style="color:red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
			<label class="sr-only" th:text="#{login.username}">Username</label>
			<input type="text" name="managerName" class="form-control" placeholder="Username" th:placeholder="#{login.username}" required="" autofocus="">

			<label class="sr-only" th:text="#{login.password}">Password</label>
			<input type="password" name="password" class="form-control" placeholder="Password" th:placeholder="#{login.password}" required="">

			<label class="sr-only" th:text="#{login.verificationCode}">验证码</label>
			<input type="text" name="verifyCode" class="form-control" id="verifyCode" th:placeholder="#{login.verificationCode}" maxlength="4">

			<!--<div class="form-group">
				<img id="verify" onclick="refreshVerify()" th:src="@{/home/verifyCode/getVerifyCode}">
				<button onclick="refreshVerify()" type="button" class="btn btn-lg btn-primary btn-block">刷新</button>
			</div>-->
			<a onclick="refreshVerify()"><img id="verify" onclick="refreshVerify()" th:src="@{/home/verifyCode/getVerifyCode}"></a>

			<!-- 先生成静态模板，在去后台，所以他先用默认的session了，与之后后台新增的不一样了-->
			<!--<input id="trueVerifyCode"  type="text" th:value="${session.verifyCode}" name="trueVerifyCode">
			<div  name="trueVerifyCode" th:text="${session.verifyCode}"></div>-->


			<div class="checkbox mb-3">
				<label>
          			<input type="checkbox" value="remember-me" > [[#{login.remember}]]
        		</label>
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit" th:text="#{login.btn}">Sign in</button>
			<p class="mt-5 mb-3 text-muted">© 2019-2020</p>
			<a class="btn btn-sm" th:href="@{/index.html(l='zh_CN')}">中文</a>
			<a class="btn btn-sm" th:href="@{/index.html(l='en_US')}">English</a>
		</form>


		<script th:src="@{/webjars/jquery/3.4.0/jquery.js}"></script>
		<script>
			/*刷新验证码*/
			function refreshVerify(id) {
				var myData = new Date();
				var times = myData.getTime();
                //src 是路径 属性 src 的更改
				$("#verify").attr("src", "/crud/home/verifyCode/getVerifyCode?times=" + times);
			}

            /*$("#login").click(function () {
                $().get("/crud/user/logout");
            });*/


            layui.use('form', function () {
                var form = layui.form;

                //监听提交
                form.on('submit(formLogin)', function (data) {

                    var formData = data.field;

                    //提交表单，登录验证
                    $.ajax({
                        url: "/home/user/checkLogin",
                        type: "post",
                        data: formData,
                        success: function (d) {
                            if (d.success == false) {
                                layer.msg(d.errMsg);
                                return false;
                            }
                            window.location.href = d.data.pagePath;
                        },
                        error: function (res) {
                            layer.msg(res);
                        },
                    });
                    return false;
                });

                //自定义表单验证
                form.verify({
                    //我们既支持上述函数式的方式，也支持下述数组的形式
                    //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
                    password: [
                        /^[\S]{6,16}$/
                        , '密码必须6到16位，且不能出现空格'
                    ],
                    verify_code: [
                        /^.{4}$/
                        , '验证码为4位字符！'
                    ]
                });
            });
		</script>
	</body>

</html>