<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="home/_fragments :: head(~{::title})"></head>

<body>

  <!--导航-->
  <nav th:replace="home/_fragments :: menu(1)"  class="ui inverted attached segment m-padded-tb-mini m-shadow-small" ></nav>

  <!--登录注册-->
  <div th:replace="home/_fragments :: header2" ></div>

  <!--中间内容-->
  <div  class="m-container m-padded-tb-big animated fadeIn">
    <div class="ui container">
      <div class="ui stackable grid">

        <div id="waypoint" >
          <div class="ui top attached segment">
            <div class="ui horizontal link list">
              <div class="item">
                <!--<img src="https://unsplash.it/100/100?image=1005" th:src="@{${datas[0].dataPath}}"  alt="" class="ui avatar image">-->
                <img src="https://unsplash.it/100/100?image=1005" th:src="@{${course.courseAvatar}}" alt="" class="ui avatar image">
                <div class="content"><a href="#" class="header" th:text="${course.courseName}">李仁密</a></div>
              </div>
              <!--<div class="item">
                <i class="calendar icon"></i> <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2017-10-01</span>
              </div>
              <div class="item">
                <i class="eye icon"></i> <span th:text="${blog.views}">2342</span>
              </div>-->
            </div>
          </div>
          <div class="ui attached segment" id="videoPart">
            <!--图片区域-->

            <!--<label th:text="${datas[0].dataPath}" ></label>-->
            <!--<label th:text="${dataNum}" ></label><br/>
            <label th:text="${datas[dataNum].dataType}" ></label><br/>
            <label th:text="${datas[dataNum].dataPath}" ></label>-->
            <br>
              <audio id="audioData" th:src="${datas[dataNum].dataType}==2 ? @{${datas[dataNum].dataPath}} : ''" controls="controls" ></audio>
              <video id="videoData" name="videoName" align="center" controls="controls"
                     class="ui fluid rounded image" style="width: 650px; height: 420px;">
                <!--<source th:src="@{/media/data1.mp4}" type="video/mp4">-->
                <source th:src="${datas[dataNum].dataType}==1 ? @{${datas[dataNum].dataPath}} : ''" type="video/mp4">
              </video>
          </div>

          <!--赞赏，点开会有2个二维码 太叼了-->
          <div class="ui  attached padded segment">
            <div>
              <div class="ui left aligned basic segment">
                <button id="likeButton" th:onclick="likeCourse([[${course.courseId}]])" class="ui orange basic circular button"><i class="thumbs up icon"></i>点赞 [[${course.courseLike}]]</button>

                <button class="ui orange basic circular button"><i class="eye icon"></i>观看 [[${course.courseView}]]</button>
              </div>
              <!--<div class="ui center aligned basic segment">
                <button id="payButton" class="ui orange basic circular button"><i class="thumbs up icon"></i>点赞</button>
              </div>
              <div class="ui payQR flowing popup transition hidden">
                <div class="ui orange basic label">
                  <div class="ui images" style="font-size: inherit !important;">
                    <div class="image">
                      <img src="../blog/images/wechat.jpg" th:src="@{/blog/images/wechat.jpg}" alt="" class="ui rounded bordered image" style="width: 120px">
                      <div>支付宝</div>
                    </div>
                    <div class="image">
                      <img src="../blog/images/wechat.jpg" th:src="@{/blog/images/wechat.jpg}" alt="" class="ui rounded bordered image" style="width: 120px">
                      <div>微信</div>
                    </div>
                  </div>
                </div>
              </div>-->
            </div>
          </div>

          <!--<div class="ui attached positive message" th:if="${blog.shareStatement}">-->
          <div class="ui attached positive message">

            <!--博客信息-->
            <div class="ui middle aligned grid">
              <div class="eleven wide column">
                <ui class="list">
                  <!--<li>作者：<span th:text="${blog.user.nickname}">李仁密</span><a href="#" th:href="@{/about}" target="_blank">（联系作者）</a></li>
                  <li>发表时间：<span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm')}">2017-10-02 09:08</span></li>
                  <li>版权声明：自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</li>
                  <li>公众号转载：请在文末添加作者公众号二维码</li>-->
                  <li>作者：<span>周日豪</span><a href="#" target="_blank">（联系作者）</a></li>
                  <li>发表时间：<span>2020-03-12 09:08</span></li>
                  <li><span>[[${course.courseIntro}]]</span></li>
                  <!--<li>版权声明：自由转载-非商用-非衍生-保持署名（创意共享3.0许可证）</li>
                  <li>公众号转载：请在文末添加作者公众号二维码</li>-->
                </ui>
              </div>
              <div class="five wide column">
                <img src="../static/images/wechat.jpg" th:src="@{/blog/images/wechat.jpg}" alt="" class="ui right floated rounded bordered image" style="width: 110px">
              </div>
            </div>
          </div>

          <!--<div  class="ui bottom attached segment" th:if="${blog.commentabled}">-->
          <div  class="ui bottom attached segment">
            <!--留言区域列表-->

            <!-- 用来留言的 -->
            <div id="comment-form" class="ui form">
              <!--<input type="hidden" name="blog.id">-->
              <input type="hidden" name="user.id" th:value="${session.loginUser}!=null ? ${session.loginUser.userId}">
              <input type="hidden" name="course.id" th:value="${course.courseId}">
              <!-- 仅仅是表示在那一个人的评论里面回复 -->
              <input type="hidden" name="parentComment.id">
              <!-- 如果是在回复别人的下面 再at人 才需要这个  正常情况必须保持空，因为我发布（评论）是同一个按钮 -->
              <!-- 别人回复的那个人的名字 -->
              <input type="hidden" name="replyname">

              <div class="field">
                <!-- 这里的样式height=112px是最小了，写1也是显示112px -->
                <textarea style="width: 650px; height: 112px;" name="content" placeholder="请输入评论信息..."></textarea>
              </div>
              <div class="fields">
                <div class="field m-mobile-wide m-margin-bottom-small">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <!-- 这里要改成一个图片 -->
                    <input type="text" name="nickname" readonly placeholder="未登录，无法评论" th:value="${session.loginUser}!=null ? ${session.loginUser.userName}">
                  </div>
                </div>
                <div class="field  m-margin-bottom-small m-mobile-wide">
                  <button id="commentpost-btn" type="button" class="ui teal button m-mobile-wide"><i class="edit icon"></i>发布</button>
                </div>
                <p style="color:red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
              </div>
            </div>


            <!-- 浏览留言区 -->
            <div id="comment-container"  class="ui teal segment">
              <div th:fragment="commentList">
                <div class="ui threaded comments" style="max-width: 100%;">
                  <h3 class="ui dividing header">评论</h3>
                  <div class="comment" th:each="comment : ${comments}">
                    <a class="avatar">
                      <img src="https://unsplash.it/100/100?image=1005" th:src="@{${comment.avatar}}">
                    </a>
                    <div class="content">
                      <a class="author" >
                        <span th:text="${comment.nickname}">Matt</span>
                        <!--<div class="ui mini basic teal left pointing label m-padded-mini" th:if="${comment.adminComment}">博主</div>   之后要改成courseId-->
                        <!--<div class="ui mini basic teal left pointing label m-padded-mini" th:if="${!comment.adminComment}">up主我感觉没必要把up主弄出来吧</div>-->
                      </a>
                      <div class="metadata">
                        <!--<span class="date" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>-->
                        <span class="date" th:text="${#dates.format(comment.commentDate,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                      </div>
                      <!--<div class="text" th:text="${comment.content}">-->
                      <div class="text" th:text="${comment.commentText}">
                        How artistic!
                      </div>
                      <div class="actions">
                        <a class="reply" data-userid="-1" data-commentid="1" title="为他点赞~" th:attr="data-commentid=${comment.commentId},
                        data-userid=${session.loginUser}!=null ? ${session.loginUser.userId}:-1"
                           onclick="like(this)"><i class="thumbs up icon"></i>点赞数：[[${comment.commentLike}]]</a>
                        &nbsp;&nbsp;&nbsp;
                        <!--<a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${comment.id},data-commentnickname=${comment.nickname}" onclick="reply(this)">回复</a>-->
                        <a class="reply" data-commentid="1" data-commentnickname="Matt" th:attr="data-commentid=${comment.commentId},data-commentnickname=${comment.nickname}" onclick="reply(this)"><i class="comment icon"></i> 回复</a>
                      </div>
                    </div>
                    <div class="comments" th:if="${#arrays.length(comment.replyComments)}>0">
                      <div class="comment" th:each="reply : ${comment.replyComments}">
                        <a class="avatar">
                          <img src="https://unsplash.it/100/100?image=1005" th:src="@{${reply.avatar}}">
                        </a>
                        <div class="content">
                          <a class="author" >
                            <span th:text="${reply.nickname}">小红</span>
                            <!--<div class="ui mini basic teal left pointing label m-padded-mini" th:if="${reply.adminComment}">博主</div>-->
                            &nbsp;<span th:text="|@ ${reply.replyname}|" class="m-teal">@ 小白</span>
                          </a>
                          <div class="metadata">
                            <span class="date" th:text="${#dates.format(reply.commentDate,'yyyy-MM-dd HH:mm')}">Today at 5:42PM</span>
                          </div>
                          <div class="text" th:text="${reply.commentText}">
                            How artistic!
                          </div>
                          <div class="actions">
                            <a class="reply" data-userid="-1" data-commentid="1" title="为他点赞~"
                               th:attr="data-commentid=${reply.commentId},data-userid=${session.loginUser}!=null ? ${session.loginUser.userId}:-1" onclick="like(this)"><i class="thumbs up icon"></i>点赞数：[[${reply.commentLike}]]</a>
                            &nbsp;&nbsp;&nbsp;
                            <a class="reply" data-commentid="1" data-commentnickname="Matt"
                               th:attr="data-commentid=${comment.commentId},data-commentnickname=${reply.nickname}"
                               onclick="reply(this)"><i class="comment icon"></i> 回复</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>
              </div>
            </div>

          </div>
        </div>

        <!--右边的top-->
        <div class="five wide column">

          <!--分类-->
          <div class="ui segments">
            <div class="ui secondary segment">
              <div class="ui two column grid">
                <div class="column">
                  <i class="idea icon"></i>视频选集
                </div>
                <!--<div class="right aligned column">
                  <a href="#" th:href="@{types/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                </div>-->
              </div>
            </div>
            <div class="ui teal segment">
              <div class="ui fluid vertical menu" >
                <!--<a href="#" th:href="@{/home/course/{courseId}/{dataNum}(courseId=${course.courseId},dataNum=${dataStat.index})}" target="_blank" class="item"  th:each="data,dataStat : ${datas}">-->
                <div class="item" th:each="data,dataStat : ${datas}">
                  <a style="cursor: pointer;" th:onclick="dataCheck([[${data.dataType}]],[[${course.courseId}]],[[${data.dataPath}]])" >
                    <span th:text="'P'+${dataStat.index + 1}+'&nbsp;&nbsp;'+${data.dataName}">视频1</span>
                  </a>
                  <a th:href="@{/back/data/dataDownload/}+${data.dataId}" class="ui teal basic left pointing label" >
                    <div th:text="下载">下载</div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!--相关推荐-->
          <!-- 就是orderby createTime 和 like 和 view 就行了 -->
          <div id="recommended-container" class="ui segments m-margin-top-large">
            <div th:fragment="recommendedCoursesList">
              <div class="ui secondary segment ">
                <div class="ui two column grid">
                  <div class="column">
                    <i class="bookmark icon"></i>相关推荐
                  </div>
                  <div class="right aligned column">
                    <a href="#" th:href="@{types/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                  </div>
                </div>
              </div>

              <div class="ui teal segment">
                <div class="ui fluid vertical menu" >
                  <a href="#" th:href="@{/home/course/{id}(id=${recommendedCourse.courseId})}" target="_blank" class="item" th:each="recommendedCourse : ${recommendedCourses}">
                    <span th:text="${recommendedCourse.courseName}">用户故事（User Story）</span>
                    <!--<div class="ui teal basic left pointing label" th:text="下载">下载</div>-->
                    <div class="ui teal basic left pointing label">
                      <i class="eye icon"></i><span th:text="${recommendedCourse.courseView}">2342</span>
                      &nbsp;&nbsp;
                      <i class="thumbs up icon"></i><span th:text="${recommendedCourse.courseLike}">2342</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>

  <!-- 博客详情拉下去，右下角有图标 -->
  <div id="toolbar" class="m-padded m-fixed m-right-bottom" style="display: none">
    <div class="ui vertical icon buttons ">
      <button type="button" class="ui toc teal button" >目录</button>
      <a href="#comment-container" class="ui teal button" >留言</a>
      <button class="ui wechat icon button"><i class="weixin icon"></i></button>
      <div id="toTop-button" class="ui icon button" ><i class="chevron up icon"></i></div>
    </div>
  </div>

  <div class="ui toc-container flowing popup transition hidden" style="width: 250px!important;">
    <ol class="js-toc">

    </ol>
  </div>

  <!-- 这个好像是右下角那个微信？ -->
  <div id="qrcode" class="ui wechat-qr flowing popup transition hidden "style="width: 130px !important;">
    <!--<img src="./static/images/wechat.jpg" alt="" class="ui rounded image" style="width: 120px !important;">--> 这里是啥？
  </div>



  <br>
  <br>
  <!--底部footer-->
  <footer th:replace="home/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive"></footer>


  <!-- 引入script -->
  <th:block th:replace="home/_fragments :: script"></th:block>


  <!-- 这个th:inline="javascript" 就是thymeleaf的js模板部分呀 -->
  <script th:inline="javascript">

    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on : 'hover'
    });

    $('#payButton').popup({
      popup : $('.payQR.popup'),
      on : 'click',
      position: 'bottom center'
    });

    tocbot.init({
      // Where to render the table of contents.
      tocSelector: '.js-toc',
      // Where to grab the headings to build the table of contents.
      contentSelector: '.js-toc-content',
      // Which headings to grab inside of the contentSelector element.
      headingSelector: 'h1, h2, h3',
    });

    $('.toc.button').popup({
      popup : $('.toc-container.popup'),
      on : 'click',
      position: 'left center'
    });

    $('.wechat').popup({
      popup : $('.wechat-qr'),
      position: 'left center'
    });

    var serurl = "127.0.0.1:8080";
    var url = "";
    var qrcode = new QRCode("qrcode", {
      text: serurl+url,
      width: 110,
      height: 110,
      colorDark : "#000000",
      colorLight : "#ffffff",
      correctLevel : QRCode.CorrectLevel.H
    });
    
    $('#toTop-button').click(function () {
      $(window).scrollTo(0,500);
    });


    var waypoint = new Waypoint({
      element: document.getElementById('waypoint'),
      handler: function(direction) {
        if (direction == 'down') {
          $('#toolbar').show(100);
        } else {
          $('#toolbar').hide(500);
        }
        console.log('Scrolled to waypoint!  ' + direction);
      }
    })


    //评论表单验证
    /*$('.ui.form').form({
      fields: {
        title: {
          identifier: 'content',
          rules: [{
            type: 'empty',
            prompt: '请输入评论内容'
          }]
        },
        content: {
          identifier: 'nickname',
          rules: [{
            type: 'empty',
            prompt: '请输入你的大名'
          }]
        },
        type: {
          identifier: 'email',
          rules: [{
            type: 'email',
            prompt: '请填写正确的邮箱地址'
          }]
        }
      }
    });*/

    //拼接url了  /crud/home/comments/{courseId}
    $(function () {
        var urlComment = "/crud/home/comments/";
        urlComment += [[${course.courseId}]];
      $("#comment-container").load(urlComment);
    });



    $('#commentpost-btn').click(function () {
      /*
      var boo = $('.ui.form').form('validate form');
      if (boo) {
        console.log('校验成功');
        postData();
      } else {
        console.log('校验失败');
      }
      */
      checkUser([[${session.loginUser}]]);
      postData();
    });
    
    function postData() {
      $("#comment-container").load("/crud/home/comments",{
        "userId" : $("[name='user.id']").val(),
        "parentCommentId" : $("[name='parentComment.id']").val(),
        "courseId" : $("[name='course.id']").val(),
        //"nickname": $("[name='nickname']").val(),
        "nickname": $("[name='replyname']").val(),
        "commentText" : $("[name='content']").val()
      },function (responseTxt, statusTxt, xhr) {
//        $(window).scrollTo($('#comment-container'),500);
        clearContent();
      });
    }

    function clearContent() {
      $("[name='content']").val('');
      //$("[name='parentComment.id']").val(-1);
      $("[name='content']").attr("placeholder", "请输入评论信息...");
      //$("[name='nickname']").val('');   有登录名了 不用清除了
      $("[name='parentComment.id']").val('');   //所属于的父节点
      $("[name='replyname']").val('');    //回复的人的名字
    }

    //点击回复的按钮
    function reply(obj) {
      var commentId = $(obj).data('commentid');
      var commentNickname = $(obj).data('commentnickname');
      alert(commentId + " " + commentNickname);
        $("[name='parentComment.id']").val(commentId);
      $("[name='content']").attr("placeholder", "@"+commentNickname).focus();
        $("[name='replyname']").val(commentNickname);
      $(window).scrollTo($('#comment-form'),500);
    }

    //点击回复的按钮
    /*function replyOthers(obj) {
        var commentId = $(obj).data('parentCommentId');
        var commentNickname = $(obj).data('commentnickname');
        alert(commentId + " " + commentNickname);
        $("[name='parentComment.id']").val(commentId);
        $("[name='content']").attr("placeholder", "@"+commentNickname).focus();
        $("[name='replyname']").val(commentNickname);
        $(window).scrollTo($('#comment-form'),500);
    }*/

    //点赞按钮，这个功能 暂时不会写。。。
    //点赞评论功能完成啦~
    function like(obj) {
        var commentId = $(obj).data('commentid');
        var userId = $(obj).data('userid');
        //alert(commentId + " " + userId);

        //未登录
        if(userId == -1){
            alert("您未登录无法点赞");
            return;
        }
        /*var text1 = $(obj).text();
        alert(text1);
        text1 = parseInt(text1.replace("点赞数：",""));
        alert(text1);
        text1 += 1;
        alert(text1);
        $(obj).html("<i class=\"thumbs up icon\"></i>点赞数："+text1);*/

        $.ajax({
            url:"/crud/home/comments/like",
            type:"POST",
            data:{
                commentId:commentId,
                userId:userId
            },
            success:function(data){
                //alert(data);
                var text1 = $(obj).text();

                text1 = parseInt(text1.replace("点赞数：",""));
                if(data){
                    text1 += 1;
                    alert("评论点赞成功");
                }else {
                    text1 -= 1;
                    alert("取消点赞成功");
                }
                $(obj).html("<i class=\"thumbs up icon\"></i>点赞数："+text1);
            }
        });
    }


    //点赞课程功能 ，user后台自己获取吧
    function likeCourse(courseId) {
        var btn = $("#likeButton");

        $.ajax({
            url:"/crud/home/courses/like",
            type:"POST",
            data:{
                courseId:courseId
            },
            success:function(data){
                //alert(data);
                var text1 = btn.text();

                text1 = parseInt(text1.replace("点赞 ",""));
                if(data == 1){
                    text1 += 1;
                    alert("评论点赞成功");
                }else if(data == 0){
                    text1 -= 1;
                    alert("取消点赞成功");
                }else {
                    //data = -1
                    alert("您未登录无法点赞");
                }
                btn.html("<i class=\"thumbs up icon\"></i>点赞 "+text1);
            }
        });
    }

    //相关推荐
    $(function () {
        var urlRecommended = "/crud/home/showRecommendedCourse";
        $("#recommended-container").load(urlRecommended,{
            "courseId" : [[${course.courseId}]]
        });
    });

    //根据资料类型 分三种不同的状态 1为视频，2为音频，3为文件
    //@{/home/course/{courseId}/{dataNum}(courseId=${course.courseId},dataNum=${dataStat.index})}
    function dataCheck(dataType,courseId,dataPath) {
        if(dataType == null){
            alert("资源出错，请联系管理员");
        }else if(dataType == 1){
            //var url = "/crud/home/course/{"+courseId+"}/{"+dataNum+"}";
            /*var url = "/crud/home/course/"+courseId+"/"+dataNum;
            alert(url);
            window.open(url);*/
            var target = "/crud" + dataPath;
            //alert(target);
            /*document.getElementsById('videoData').setAttribute("src", target);*/


            document.getElementById('videoData').style.display="";
            document.getElementById('audioData').style.display="none"
            $("#videoData").attr("src",target);
            $("#audioData").attr("src","");
            $("#videoData").attr("autoplay","true");


        }else if(dataType == 2){

            //音频
            //window.open("/crud/preview");
            document.getElementById('videoData').style.display="none";
            document.getElementById('audioData').style.display="";
            var target = "/crud" + dataPath;
            //alert(target);
            $("#audioData").attr("autoplay","true");
            $("#audioData").attr("src",target);
            $("#videoData").attr("src","");


        }else if(dataType == 3){
            //文本
            var target = "/crud/preview?dataPath=" + dataPath;
            //alert(target);
            window.open(target);
        }else {
            alert("资源出错，请联系管理员");
        }
    }

    //页面加载时执行的函数
    //jQuery 与$ 等价
    $(function () {
        //alert("???");
        //$("#videoData").style.display="none";
        //$("#audioData").style.display="";

        /*<![CDATA[*/
        var dataType = /*[[${datas[dataNum].dataType}]]*/ 1;
        //alert(dataType);
        /*]]>*/
        if(dataType == 1){
            document.getElementById('videoData').style.display="";
            document.getElementById('audioData').style.display="none";
        }else if(dataType == 2){
            document.getElementById('videoData').style.display="none";
            document.getElementById('audioData').style.display="";
        }else{
            document.getElementById('videoData').style.display="none";
            document.getElementById('audioData').style.display="none";
            /*<![CDATA[*/
            var dataPath = /*[[${datas[dataNum].dataPath}]]*/ "/uploads/course/计算机视觉/data1.mp4";
            //alert(dataPath);
            var target = "/crud/preview?dataPath=" + dataPath;
            //alert(target);
            window.open(target);
            /*]]>*/
        }

    })

  </script>
</body>
</html>