<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="home/_fragments :: head(~{::title})"></head>

<body>

  <!--导航-->
  <nav th:replace="home/_fragments :: menu(1)"  class="ui inverted attached segment m-padded-tb-mini m-shadow-small" ></nav>

  <!-- 新玩意e 这个 -->
  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a href="#" th:href="@{/home/user/getUserInfo}" class="teal active item">个人信息</a>
        <a href="#" th:href="@{/home/user/toEditPassword}" class="item">修改密码</a>
      </div>
    </div>
  </div>

  <!--登录注册-->
  <div th:replace="home/_fragments :: header2" ></div>


  <!--中间内容-->
  <div  class="m-container m-padded-tb-big">
    <div class="ui container">
      <form id="userFrom" name="userFrom" action="#" th:object="${session.loginUser}" th:action="@{/home/user/edit}"
            method="post" class="ui form" onsubmit="return runUserInfo()">
        <input type="hidden" name="_method" value="put"/>

        <input type="hidden" name="userId" th:value="*{userId}">

        <div class="required field">
          <div class="ui left labeled input">
            <label class="ui teal basic label">用户名</label>
            <input id="userName" type="text" name="userName" th:value="*{userName}" placeholder="用户名" th:onblur="loadingUserName([[*{userName}]])">
            <img th:src="@{/sign/images/signloading3.gif}" src="image/signloading.gif" style="display: none;width: 38px;height: 38px;" id="registerloadingUserName">
          </div>
        </div>

        <div class="required field">
          <div class="ui left labeled input">
            <label class="ui teal basic label">邮箱</label>
            <input id="email" type="text" name="email" th:value="*{email}" placeholder="邮箱">
          </div>
        </div>

        <div class="required field">
          <div class="ui left labeled input">
            <label class="ui teal basic label">手机号</label>
            <input id="telephone" type="text" name="telephone" th:value="*{telephone}" placeholder="手机号">
          </div>
        </div>

        <div class="required field">
          <div class="ui left labeled input">
            <label class="ui teal basic label">等级</label>
            <input id="userLevel" type="text" name="userLevel" th:value="*{userLevel}" placeholder="等级">
          </div>
        </div>

        <div class="required field">
          <div class="ui left labeled input">
            <label class="ui teal basic label">喜欢方向</label>
            <input id="userDirection" type="text" name="userDirection" th:value="*{userDirection}" placeholder="喜欢方向">
          </div>
        </div>

        <div class="ui error message"></div>

        <div class="ui right aligned container">
          <button type="button" class="ui button" onclick="window.history.go(-1)" >返回</button>
          <button type="button" id="save-btn" class="ui secondary button">保存</button>
          <!--<button type="button" id="publish-btn" class="ui teal button">发布</button>-->
        </div>

      </form>

      <form id="blog-avatar-form" action="#" th:object="${session.loginUser}" th:fragment="userAvatar"
            th:action="@{/home/userUpload/}+*{userId}" method="POST" enctype="multipart/form-data" class="file ui form">
        <div class="required field">
          <div class="ui left labeled input">
            <label class="ui teal basic label">头像地址</label>
            <input type="text" name="avatar" th:value="*{avatar}" placeholder="头像地址">
          </div>
        </div>
        <div>
            <img id="userImg" src="https://unsplash.it/800/450?image=1005" th:src="@{*{avatar}}" alt="" class="ui rounded image">
        </div>
        <input type="file" name="file" onchange="showImg(this)"/>
        <input type="submit" value="上传" onclick="upload()"/>
      </form>


    </div>
  </div>

  <br>
  <br>
  <!--底部footer-->
  <footer th:replace="home/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive"></footer>

  <!-- 引入script -->
  <th:block th:replace="home/_fragments :: script"></th:block>


  <script>

    //初始化Markdown编辑器
    var contentEditor;
    $(function() {
      contentEditor = editormd("md-content", {
        width   : "100%",
        height  : 640,
        syncScrolling : "single",
//        path    : "../static/lib/editormd/lib/"
        path    : "/lib/editormd/lib/"
      });
    });
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });

    $('#save-btn').click(function () {
      //$('[name="published"]').val(false);
      $('#userFrom').submit();
    });


    $('#publish-btn').click(function () {
      //$('[name="published"]').val(true);
      $('#userFrom').submit();
    });



    $('.ui.form').form({
      fields : {
        title : {
          identifier: 'title',
          rules: [{
            type : 'empty',
            prompt: '标题：请输入博客标题'
          }]
        },
        content : {
          identifier: 'content',
          rules: [{
            type : 'empty',
            prompt: '标题：请输入博客内容'
          }]
        },
        typeId : {
          identifier: 'type.id',
          rules: [{
            type : 'empty',
            prompt: '标题：请输入博客分类'
          }]
        },
        firstPicture : {
          identifier: 'firstPicture',
          rules: [{
            type : 'empty',
            prompt: '标题：请输入博客首图'
          }]
        },
        description : {
          identifier: 'description',
          rules: [{
            type : 'empty',
            prompt: '标题：请输入博客描述'
          }]
        }
      }
    });

    function upload(){
        if(confirm("确定上传吗？原有的头像将会被覆盖，无法复原！！！")){
            return true;
        }
        return false;
    }

    function showImg(file) {
        var reader = new FileReader();	// 实例化一个FileReader对象，用于读取文件
        var img = document.getElementById('userImg'); 	// 获取要显示图片的标签

        //读取File对象的数据
        reader.onload = function (evt) {
            //img.width = "80";
            //img.height = "80";
            img.src = evt.target.result;
        }
        reader.readAsDataURL(file.files[0]);
    }


    // 完成修改信息校验
    function runUserInfo(){
        // 邮箱
        var email = document.userFrom.email.value;
        var reg= /^\w+@\w+(\.[a-zA-Z]{2,3}){1,2}$/;
        if(reg.test(email) == false){
            alert("邮箱格式不正确");
            return false;
        }

        // 手机号码为空
        var telephone = document.userFrom.telephone.value;
        if(telephone == "" || telephone.length == 0 || telephone.length != 11){
            alert("手机号码不正确");
            return false;
        }
        // 可以提交了
        alert("修改成功");
    }


    function loadingUserName(oldUserName) {
        var newUserName = $("#userName").val();
        if(oldUserName == newUserName){
            return;
        }
        document.getElementById('registerloadingUserName').style.display=""

        setTimeout(function(){
            $.ajax({
                type: "POST",
                url: "/crud/user/userNameOnly",
                data: {
                    userName : $("#userName").val()
                },
                success: function(strMsg){
                    if(strMsg == false){
                        alert("用户名重复");
                    }
                }
            });
            document.getElementById('registerloadingUserName').style.display="none"
        }, 1000);
    }


  </script>
</body>
</html>